[submodule ".registry"]
	path = .registry
	url = https://github.com/royfrancis/royfrancis.r-universe.dev
	branch = HEAD
[submodule "pixture"]
	path = pixture
	url = https://github.com/royfrancis/pixture
	branch = main
